body {
  background-color: #f4e9e5;
  color: #708a7c;
  margin: 0; 
}

header {
  padding: 16px;
  width: 80%;
  text-align: center;
}

h1, h2 {
font: 2rem serif;
color: #325434;
}

main {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

}

.introduction, .howto {
  display: flex;
  flex-direction: row;
  margin: 10px, 0px;
  width: 80%;
  padding: 10px;
  justify-content: left;
}

.howto {
  font: 1rem sans-serif;
}

.summary {
  width: 25%;
  float: left;
}

.country {
  color: #54685d;
  width: 30%;
  padding: 5px;
  font-family: serif;
}

h2 {
margin-top: 0.5rem;
margin-bottom: 0.2rem;
font-weight: 400;
}

.eng_name {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font: italic 1.8rem serif;
  font-weight: 100;
}

ul {
  margin: 0px;
  list-style-position: inside;
  padding-inline-start: 5px;
}

.summary > ul {
  padding: auto, 20px;
  border-left-style: solid;
  list-style-type: none;
}

.ingredients {
  width: 15%;
  padding: 0px;
  box-sizing: border-box;
  font: bold;
}

.ingredients > ul
{
  border-left-style: dotted;
}

.instructions {
  width: 41%;
  padding: 0px;
  color: #54685d;
  font: 1rem;
}

.instructions > ol {
  margin-block-start: 0px;
  list-style: georgian outside;
  padding-bottom: 15px
}

.notice {
  width: 25%;
  margin-left: 16%;
  padding: 10px;
  border-style: dotted;
  border-radius: 20px;
}

img {
  display: block;
  margin-left: 40px;
  height: 220px;
  width: 360px;
  padding: 30px 20px;
  align-items: right;
}


footer {
  width: 80%;
  text-align: center;
}

a:link, a:visited
{
  color: #708a7c;
}

a:hover {
  color: #54685d;
}